<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<ul>
  <li><%= link_to 'Login with TLS', user_tls_omniauth_authorize_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <li><%= link_to 'Edit Password', edit_user_password_path %></li>
  <li><%= link_to 'Register', new_user_registration_path %></li>
</ul>
